.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 18px 160px;
}
.contact_title h1{
     padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
   border-bottom: 1px solid black;
}
.contact-section{
    display: flex;
    gap: 150px;

}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
     background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 
}
.contact-left p{
    max-width: 550px;
    color:black ;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: bisque;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 15px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.contact-right label{
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: 1px solid black;
    width: 600px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 550px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 4px;
    font-family: Outfit;
    font-size: 20px;
}

.contact-submit{
    border: 1px solid black;
    /* background: black; */
    /* color: white; */
     padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.contact-submit:hover{
    background-color: black;
    color:white;
}