.project{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 18px 160px;
}
.project-title h1{
     padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
   border-bottom: 1px solid black;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.project-container img{
    box-sizing: border-box;
    width: 410px;
    height: 280px;
    transition: 0.4s;
    cursor: pointer;
}
.project-container img:hover{
    transform: scale(1.1);
    /* border: 4px solid rgb(69, 22, 22); */
    border-radius: 10px;
    transition: 0.3s;
}
.project-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 1px solid black;
    padding:10px 30px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor:pointer;
}
.project-showmore:hover{
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    transition: 0.6s;
    gap:20px ;
    outline: none;
}