
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 160px;
    border-bottom: 1px solid black;
}
.nav_logo{
    margin-bottom:3px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}
.nav-connect{
    border:1px solid black;
    padding:8px 16px;
    border-radius:50px;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    cursor: pointer;
    transition: transform 0.5s ease;
}
.nav-connect:hover{
    transform:scale(1.1);
}