.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 18px 160px;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
   border-bottom: 1px solid black;
}

.about-section{
    display: flex;
    gap: 80px;

 }
 
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    transition: 0.3s;
 } 
 .about-skill p{
    
    min-width: 150px;
    font-size: 15px;
    font-weight: 400;
 }
 .about-skill hr{
    margin: 2px 0px;
    outline: none;
    border: none;
    width: 50%;
    height: 4px;
    border-radius: 50px;
     background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
 }
 .about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
 }
 .about-achievements{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 80px;
 }
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 50px;
    font-weight: 700;
     background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}

.about-achievement p{
    font-size: 20px;
    font-weight: 500;
}
.about-achievement:hover{
     transform: scale(1.1);
    transition: 0.4s;
}