.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    gap: 4rem;
    margin: 18px 160px;
    border-bottom: 1px solid black;
}

/* IMAGE SECTION */
.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img {
    width: 320px;
    max-width: 100%;
}

/* TEXT SECTION */
.hero-intro {
    flex: 1;
    
}

.hero-intro h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero h1 span{
    background: radial-gradient(circle,rgb(26, 5, 14) 0%, rgba(148, 187, 233, 1) 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.hero-intro p {
    font-size: 1.05rem;
    line-height: 1.7;
    max-width: 520px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
    margin: 50px 30px;
}
.hero-connect{
    padding:10px 30px;
    border-radius: 50px;
    cursor:pointer;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    transition: transform 0.5s ease;
}
.hero-connect:hover{
    transform:scale(1.1);
}
.hero-resume{
    padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    border:1px solid black;
    transition: color 0.5s;
}

.hero-resume:hover{
    background-color: black;
    color:white;
}