.footer{
     margin: 18px 160px;
     display: flex;
     flex-direction: column;
     gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;

}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    background-color: rgb(57, 3, 26);
    padding: 10px 20px;
    border-radius: 50px;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
    font-family: Outfit;
}
.footer-subscribe{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
     background-image: linear-gradient(264deg,#bfb1ba,#777370);
    transition: 0.3s;
    cursor: pointer;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
/* .footer-email-input:hover{
    border: 1px solid white;
} */
.footer-subscribe:hover{
     transform: scale(1.05);
    transition: 0.4s;
}